<!-- header
topbar with name in left side and icons-link-social to the right 
<app-header></app-header> -->
<!-- intro
complete name, job, university and buttons below -->
<app-intro
[(admin)]="admin"
></app-intro>
<!-- about
personal description... 
<app-about></app-about> -->
<!-- experience
blank because i dont have experience -->
<app-experience
[admin]="admin"
></app-experience>
<!-- education
studies... -->
<app-studies
[admin]="admin"
></app-studies>
<!-- attitudes
i suppose that mean softskills -->
<app-attitudes
[admin]="admin"
></app-attitudes>
<!-- achievements
steam? or personal projects? -->
<app-achievements
[admin]="admin"
></app-achievements>
