<form [formGroup]="form" (ngSubmit)="onUpdate($event)">
    <div>
        <label for="">Institución:</label>
        <input type="text"
        formControlName="nombre"
        >
    </div>
    <div>
        <label for="">Tipo:</label>
        <input type="text"
        formControlName="tipo"
        >
    </div>
    <div>
        <label for="">Título:</label>
        <input type="text"
        formControlName="titulo"
        >
    </div>
    <div>
        <label for="">Estado:</label>
        <input type="text"
        formControlName="estado"
        >
    </div>
    <div>
        <label for="">Inicio:</label>
        <input type="number"
        formControlName="inicio"
        >
    </div>
    <div>
        <label for="">Fin:</label>
        <input type="number"
        formControlName="fin"
        >
    </div>
    <button type="submit" class="btn btn-success" >Confirmar</button>
</form>