<form [formGroup]="form" (ngSubmit)="onUpdate($event)">
    <div>
        
        <label for="">Institución:</label>
        <input 
        type="text" value={{study.name}}>
    </div>
    <div>
        <label for="">Tipo:</label>
        <input type="text" value={{study.type}}>
    </div>
    <div>
        <label for="">Título:</label>
        <input type="text" value={{study.title}}>
    </div>
    <div>
        <label for="">Estado:</label>
    <input type="text" value={{study.status}}>
    </div>
    <div>
        <label for="">Inicio:</label>
    <input type="number" value={{study.start}}>
    </div>
    <div>
        <label for="">Fin:</label>
        <input type="number" value={{study.end}}>
    </div>
    
    <button type="submit" class="btn btn-success" >Confirmar</button>
</form>