<app-header
[name]="this.attributes.firstName+' '+this.attributes.lastName"
[(admin)]="admin"
(adminChange)="(changeAdmin(false))"
></app-header>
<div class="card mat-card" id="start">
    <div class="">
        <div id="profile-background"><img src="{{attributes.urlBack}}"></div>
        <div id="info" style="padding: 16px">
            <div id="info-img">
                <img mat-card-image class="img-fluid rounded-circle profile-image " src="{{attributes.urlImage}}" alt="Generic placeholder image">
                <div class="btn-edit" *ngIf="admin">
                    <a href="./portfolio#start" class="btn-right" (click)="add()"><i class="fa fa-pen"></i></a>
                </div>
            </div>
            <div >
                <div *ngIf="showForm; else elseBlock">
                    <app-intro-form
                        [attrib]="outAttrib"
                        (closeForm)="changeState(false)"
                        (expChange)="update(outAttrib)"
                        ></app-intro-form>
                </div>
                <ng-template #elseBlock>
                    <div>
                        <h1>{{attributes.firstName}} {{attributes.lastName}}</h1>
                        <div id="info-company">{{attributes.prof}}</div>
                        <div id="info-contact">
                            <span class="h4">{{attributes.state}} {{attributes.country}}</span>
                            <span class="h4"><a href="mailto:mi_correo@servidor.com"> Información de contacto </a></span>
                        </div>
                    </div>
                    <ul id="info-details">
                        <li><a href="http://www.frt.utn.edu.ar/">
                                <img src="assets/images/logo_favicon.png">
                                <h2>{{attributes.university}}</h2>
                            </a></li>
                    </ul>
                </ng-template>
            </div>
            <div id="info-actions">
                <button type="button" class="btn btn-primary">Tengo interés en</button>
                <button type="button" class="btn btn-light">Añadir sección</button>
                <button type="button" class="btn btn-light">Más</button>
            </div>
        </div>
    </div>
    <app-about
        [admin]="admin"
        [(about)]="attributes.about"
        (aboutChange)="updateAbout()"
        ></app-about>
</div>