<div class="card mat-card" id="first-card">
    <div id="profile-background"><img src=""></div>
    <div id="info" style="padding: 16px">
        <div id="info-img">
            <img mat-card-image class="profile-image" src="../../../assets/images/yo.jpg" alt="">
            <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        </div>
        <div id="info-data">
            <div>
                <h1>Nicolás Bautista</h1>
                <div id="info-company">Estudiante</div>
                <div id="info-contact">
                    <span class="h4">Tucumán - Argentina</span>
                    <span class="h4"><a href="#">Información de contacto</a></span>
                </div>
            </div>
            <ul id="info-details">
                <li><a href="http://www.frt.utn.edu.ar/">
                    <img src="">
                    <h2>UTN-FRT</h2>
                </a></li>
            </ul>
        </div>
        <div id="info-actions">
            <button type="button" class="btn btn-primary">Tengo interés en</button>
            <button type="button" class="btn btn-light">Añadir sección</button>
            <button type="button" class="btn btn-light">Más</button>
    </div>
</div>