<!-- header
topbar with name in left side and icons-link-social to the right -->
<app-header></app-header>
<!-- intro
complete name, job, university and buttons below -->
<app-intro></app-intro>
<!-- about
personal description... 
<app-about></app-about> -->
<!-- experience
blank because i dont have experience -->
<app-experience></app-experience>
<!-- education
studies... -->
<app-studies></app-studies>
<!-- attitudes
i suppose that mean softskills -->
<app-attitudes></app-attitudes>
<!-- achievements
steam? or personal projects? -->
<app-achievements></app-achievements>