<div class="card mat-card">
    <div class="card-titles">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-left">
                    <h2>Habilidades blandas</h2>
                </div>
                <div class="col text-right">
                    <div class="btn btn-add">
                        <a href="portfolio#form" class="" (click)="add()"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div >
        <div class="row" >
            <div class="col-md-auto text-center" *ngFor="let attitude of attitudes">
                <div class="row" >
                    <div class="col text-center" id="graph">
                        <!-- -->
                        <app-donut-graph                        
                        [attitude]="attitude"
                        (closeForm)="changeState(false)"
                        (attitudeChange)="update(attitude)"
                        ></app-donut-graph>
                    </div>
                    <div class="col text-left">
                        <div class="btn-add">
                            <a href="#" class="btn btn-right"><i class="fa fa-pen"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>