<form [formGroup]="form" (ngSubmit)="onUpdate($event)">
    <label for="" >Donde:</label>
    <input type="text"
        value={{exp.where}}
        formControlName="donde" 
    >
    <label for="">Rol:</label>
    <input 
        formControlName="rol" 
        type="text" 
        value={{exp.role}}>
    <label for="">Inicio:</label>
    <input 
        formControlName="inicio" 
        type="number" 
        value={{exp.start}}>
    <label for="">Fin:</label>
    <input 
        formControlName="fin" 
        type="number" 
        value={{exp.end}}>
    <button type="submit" class="btn btn-success" >Confirmar</button>
</form>
