<form [formGroup]="form" (ngSubmit)="onUpdate($event)">
    <label for="" >Donde:</label>
    <input type="text"
        formControlName="donde" 
    >
    <label for="">Rol:</label>
    <input type="text" 
        formControlName="rol" 
    >
    <label for="">Inicio:</label>
    <input type="date"  
        formControlName="inicio" 
    >
    <label for="">Fin:</label>
    <input type="date" 
        formControlName="fin"
    >
    <button type="submit" class="btn btn-success" >Confirmar</button>
    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
</form>
